*.html
.DS_Store
*__pycache__*

01_fundamentals/air.2m.gauss.1983.nc
03_data_science_modules/climdiv-tmindv-v1.0.0-20230804
04_digging_further_into_data_wrangling/WEATHER_-_2414786_Sep_15_2023_2_54_46_PM.csv
05_multidimensional_arrays_also_plotting/air.2m.gauss.1983.nc
05_multidimensional_arrays_also_plotting/usgs_major_earthquakes_1900-2023.csv
06_advanced_plotting/air.2m.gauss.2021.nc
06_advanced_plotting/season_max_temp.png
06_advanced_plotting/season_max_temp_proj.png
09_parallelization_intro/frames/*png
09_parallelization_intro/animation_frames/
11_spectral_analysis_intro/cannelton_flow.dat
13_geospatial_intro/*.zip
14_geospatial_continued/USC00121256.csv